// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
@import "~ng-pick-datetime/assets/style/picker.min.css";


.submit-button{
    height: 5rem;
}

.upload-file{
    margin-bottom: 5rem;
}

.image-preview{
    margin-top: 2rem;
}

.required-star{
    color: red;
}

.star{
    color: red;
}

::-webkit-file-upload-button {
    background: cornflowerblue;
    padding: 1em;
    border-radius: 5px;
    border: none;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

//td, th {
//    width: 25%;
//}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//::ng-deep td, th {
//    width: 15% !important;
//}


.active{
    color: green;
}

.unactive{
    color: red;
}

.pending{
    color: orange;
}

.process{
    color: blue;
}

.add-button{
    width: 20rem;
}

.float-right{
    float: right;
}

.icone-plus{
    width: 4rem !important;
}

.star{
    color: red;
}


agm-map {
    height: 400px;
}

.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
}

.map{
    display: flex;
    flex-direction: column;
}

.text-danger{
    color: red
}


.action{
    width: 9rem !important;
}

.upload{
    background-color: #039be5;
    border: 0;
    border-radius: 6px;
    padding: 10px;
    color: white;
    width: 12rem;
}

.edit-dialog{
    max-height: 50rem;
    height: auto;
    overflow: auto;
}


.flex-start{
    display: flex;
    justify-content: start;
    width: 50%;

}
.flex-between{
    display: flex;
    justify-content: space-between;
}

.image-element{
    width: 8rem;
}